*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  opacity: 1;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}
a{
  color:black
}
/* body{
  width: 100%;
  background-image: url("/src/img/Coding_.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.bg{
  width: 100%;
  background-image: url("/src/img/Coding_.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.socials{
  font-size: 100px;
  width: auto;
  text-align: center;
}
i{
  font-size: 40px;
  color: white;
  width: auto;
  text-align: center;
}
h1{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
h2{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0;
  padding: 20px;
  text-align: center;
}
p{
  color: white;
  font-size: 50px;
  width: 90%;
  position: center;
}
ul{
  list-style: none;
  margin-top: 30px;
}
li{
  color: white;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

/****Nav****/
nav{
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a img{
  vertical-align: middle;
  max-height: 40px;
  float: right;
}
nav a:nth-child(2){
  float: right;
}

/****Header****/
header{
  margin: 50 0 50 0;
  text-align: center;
}
header p{
  width: 45%;
  margin: 30px 50px 0 auto;  
}
header a{
  color: white;
}

/****Work****/
.work{
  text-align: center;
  width: 100%;
  font-size: 90px;
}
.work a img{
  margin: 5px;
  width: 23%;
}
/****WhatIDo****/
.whatido{
  text-align: center;
  margin: 100px 0 200px 0;
  position: relative;
}
.whatido h1{
  color: white;
}
.iam{
  color: rgb(61, 218, 33);
  font-size: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translateX(-50%);
  top: -20px;
  z-index:-1;
}
/****Work2****/
.work2{
  width: 100%;
  text-align: center;
}
.work2 a img{
  margin: 5px;
  width: 20%;
}
/****Footer****/
footer{
  text-align: center;
  margin: 60px 0;
}
footer p{
  color: white;
}










