*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  opacity: 1;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}
a:hover {
  background-color: #808080;
}
a{
  color:black
}
#body {
  width: 100%;
  height: 100%;
}
.bg{
  width: 100%;
  background-image: url("/src/img/Coding_.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
.navigate::after{
  content: "";
  clear: both;
  display: table;
}
.socials{
  font-size: 100px;
  width: auto;
  text-align: center;
  margin: 0 auto;
}
i{
  font-size: 40px;
  color: white;
  width: auto;
  text-align: center;
}
h1{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
h2{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0;
  padding: 20px;
  text-align: center;
}
p{
  color: white;
  font-size: 50px;
  width: 90%;
  position: center;
}
ul{
  list-style: none;
  margin-top: 30px;
}
li{
  color: white;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

/****Nav****/
nav{
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a img{
  vertical-align: middle;
  max-height: 40px;
  float: right;
}
nav a:nth-child(2){
  float: right;
}

/****Header****/
header{
  margin: 50 0 50 0;
  text-align: center;
}
header p{
  width: 45%;
  margin: 30px 50px 0 auto;  
}
header a{
  color: white;
}

/****Work****/
.work{
  text-align: center;
  width: 100%;
  font-size: 90px;
}
.work a img{
  margin: 5px;
  width: 23%;
}
/****aboutMe****/
.aboutMe{
  text-align: center;
  margin: 100px 0 100px 0;
  position: relative;
}
.aboutMe h1{
  color: white;
}
.p{
  font-size: 40px;
  text-align: center;
  margin: 10 auto;
}
.am_blog{
  width: 100%;
  text-align: center;
}
.am_blog a img{
  margin: 10px auto;
  width: 70%;
  margin: 20px auto 20px auto;
  text-align: center;
  min-height: 300px;
}
.am_blog p{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
/****Blog****/
.blog{
  width: 100%;
  text-align: center;
}
.blog a img{
  margin: 10px auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.blog p{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
/****Footer****/
footer{
  text-align: center;
  margin: 60px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
footer p{
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.image {
  margin: 10px auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* 
/* 
/* media queries for responsive design */
/* For mobile phones:
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  For tablets:
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  #profile p{font-size: 1.7em;}
  #profile .title{font-size: 3em;}
  #profile .name{width: 388px;}
  #profile img{width: 55%; margin: 0 23%;}
  #projects h2{ font-size: 2em;}
  #projects a{font-size: 1.8em; margin: 40%;}
  #skills img{width: 90%; height: 90%;}
  .skill{margin-left: 30px;}
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .container {margin: 0px 150px;}
  .project img{min-height:300px;}
  #projects a{font-size: 1em;}
  #projects{
      min-height: 500px;
  }
  #skills img{width: 80%; height: 80%;} */

} */


 */ */
