*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  opacity: 1;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}
a:hover {
  background-color: #808080;
}
a{
  color:black
}
#body {
  width: 100%;
  height: 100%;
}
.bg{
  width: 100%;
  background-image: url("/src/img/Coding_.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
.navigate::after{
  content: "";
  clear: both;
  display: table;
}
.socials{
  font-size: 100px;
  width: auto;
  text-align: center;
  margin: 0 auto;
}
i{
  font-size: 40px;
  color: white;
  width: auto;
  text-align: center;
}
h1{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
h2{
  color: white;
  font-size: 30px;
  position: center;
  margin: 0;
  padding: 20px;
  text-align: center;
}
p{
  color: white;
  font-size: 50px;
  width: 90%;
  position: center;
}
ul{
  list-style: none;
  margin-top: 30px;
}
li{
  color: white;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

/****Nav****/
nav{
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a img{
  vertical-align: middle;
  max-height: 40px;
  float: right;
}
nav a:nth-child(2){
  float: right;
}

/****Header****/
header{
  margin: 50 0 50 0;
  text-align: center;
}
header p{
  width: 45%;
  margin: 30px 50px 0 auto;  
}
header a{
  color: white;
}

/****Work****/
.work{
  text-align: center;
  width: 100%;
  font-size: 90px;
}
.work a img{
  margin: 5px;
  width: 23%;
}
/****aboutMe****/
.aboutMe{
  text-align: center;
  margin: 100px 0 100px 0;
  position: relative;
}
.aboutMe h1{
  color: white;
}
.p{
  font-size: 40px;
  text-align: center;
  margin: 10 auto;
}

/****Blog****/
.blog{
  width: 100%;
  text-align: center;
}
.blog a img{
  margin: 10px auto;
  width: 70%;
}
.blog p{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
/****Footer****/
footer{
  text-align: center;
  margin: 60px 0;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
footer p{
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 15px auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}